<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="logDir">target</Property>
        <Property name="logFile">dartagnan</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{[dd.MM.yyyy] HH:mm:ss} %highlight{[%level]} %C{1}.%M - %msg%n"/>
        </Console>
        <File name="File" fileName="${logDir}/surefire-logs/${logFile}.log">
            <PatternLayout pattern="%d{[dd.MM.yyyy] HH:mm:ss} %highlight{[%level]} %C{1}.%M - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="off">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
