<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logDir" value="target"/>
    <property name="logFile" value="dartagnan"/>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/surefire-logs/${logFile}.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{dd.MM.yyyy}] %d{HH:mm:ss} [%level] %class{1}.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd.MM.yyyy}] %d{HH:mm:ss} [%level] %class{1}.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logLevel:-WARN}">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>
