<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  
  <Appenders>
    
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %C{1}.%M - %msg%n"/>
    </Console>
	
	<File name="File" fileName="output/logs/${sys:LOGNAME}.log">
	  <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %C{1}.%M - %msg%n"/>
    </File>
    
  </Appenders>
  
  <Loggers>
    
    <Root level="info">
<!--
	  <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
-->
    </Root>
    
  </Loggers>
</Configuration>